

.datePicker {
  display: flex;
  align-items: center;
  border: 1px solid gray;
  border-radius: 4px;
  background-color: #2D4059;
  box-sizing: border-box;
  width: 40vw;
  height: 3vh;
  color: white;
  text-align: center;
  /* padding-right: 14px; */
  margin-left:5vw;

}