.addressbox {
  margin-top: 3vh;
  margin-bottom: 3vh;
  width: 80vw;
  height: 84vh;
  background-color: #ECECEC;
  border-radius: 2vw;
  /* border: 2px solid black; */
}
.textinput {
  border-radius: 2vw;
  width: 70vw;
  height: 6.25vh;
  padding-left:3vw;
  background-color: white;
  border: none;
  box-shadow: 0px 0.4vw 0.1vw rgba(0, 0, 0, 0.5);
}
.addresstitle {
  display: flex;
  justify-content: center;
  align-items: center;
  width:32vw;
  height: 4.5vh;

  background-color: #2D4059;
  color: white;
  font-weight: bold;
  font-size: 5vw;
  text-align:center;
  border-radius: 2vw;
  margin-left: 3vw;
}

.searchbox {
  margin-top: 1vh;
  height: 5vh;
  width: 71vw;
  background-color: #2D4059;
  font-size: 5vw;
  color: white;
  margin-left: 3vw;
  border-radius: 3vw;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 3vw;
}

.divdiv {
  display:flex; 
  justify-content:center;
}

.compbox {
  /* display: flex; */
  width: 74vw;
  height: 15vh;
  background-color: white;
  border-radius: 2vw;
  box-shadow: 0px 0.4vw 0.1vw rgba(0, 0, 0, 0.5);

  
}

.comptitlebox {
  font-weight:bold; 
  font-size: 3vw;
  margin-left: 3vw;
  color: black
}

.compbox:hover {
  background-image: linear-gradient(to right, #2D4059, #2D4080);
  
}