.customreceivedivfix {

  margin-top:1rem;
  width: 20rem;
  height: 35rem;

  background-color: white;
  opacity: 90%;
  border: 2px solid white;
  margin-bottom: 1rem;
  border-radius: 1.5rem;
  background-repeat: no-repeat;
}

.customreceivedivwait {

  margin-top:1rem;
  width: 80vw;
  height: 30rem;

  background-color: white;
  opacity: 90%;
  border: 0.1rem solid white;
  margin-bottom: 1rem;
  border-radius: 2rem;
  background-repeat: no-repeat;
}

.boxpage {
  margin-top: -1rem;
  width: 18rem;
  height: 10rem;
  border-radius: 0.5rem;
  border: 0.1rem solid black;
}

.circle {
  border-radius: 100%;
  width:4.5rem;
  height: 4.5rem;
  background-color: #ECECEC;
  text-align: center;
}

.line {
  width:2rem;
  border: 0.01rem solid black;

}


.lines {
  width: 10rem;
  border: 0.05rem solid black;

}

.listline {
  font-size: 0.5rem;
  font-weight: bold;
  margin-top: 5rem;

}