.listtitle {
  font-size:1.2vw;
  color: #2D4059;
  font-weight: bold;
}
.databox {
  font-size: 1.0vw;
  /* font-weight: bold; */
}

.relist:hover {
  /* border: 4px solid #2D4059; */
  background-color: #ECECEC;
  opacity: 100%;
  font-weight: bold;
  color: #F07B3F;
}

