.gridbuttonbox {
  display:grid;
  grid-template-columns: 1fr 1fr;
  width: 15rem;
  justify-content: center;
}

.cmainbutton {
  width: 10rem;
  height: 10rem;
  background-color: transparent;
  /* border: 1rem solid #2D4059; */
  border: none;
  border-radius: 0.8rem;
  color: #F07B3F;
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 0.1rem;
  /* opacity: 90%; */
}
.roomimg {
  /* background-image: url(`${process.env.PUBLIC_URL}/images/room.svg`); */
  opacity: 0.8; /* 80%의 투명도를 나타내려면 0.8로 설정합니다. */
  background-size: cover;
}

.cmainbutton:hover {
  background-image: linear-gradient(to right, #2D4059, #2D4080);

}

.cbox {
  
  display: flex;
  justify-content: center;
  align-items: center;
  /* height:100% */


}