.gridbuttonbox {
  display:grid;
  grid-template-columns: 1fr 1fr;
  width: 15rem;
  justify-content: center;
}

.cmainbutton {
  opacity: 0;
  margin-top: 2rem;
  width: 10rem;
  height: 10rem;
  background-color: transparent;
  border: 1rem solid black;
  border: none;
  border-radius: 0.8rem;
  color: #F07B3F;
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 0.1rem;
  transform: translateY(25 ,100px); /* 버튼을 아래로 숨김 */
  transition: transform 1s ease; /* 애니메이션 지속 시간 및 가속도 설정 */
  /* opacity: 90%; */
}
.roomimg {
  /* background-image: url(`${process.env.PUBLIC_URL}/images/room.svg`); */
  opacity: 1; /* 80%의 투명도를 나타내려면 0.8로 설정합니다. */
  background-size: cover;
  position: relative;
}
.backgr {

    /* background-image: linear-gradient(to Bottom, #5894D8, #D7E7FC);  */
    background-color: #2D4059;


}


.cmainbutton:hover {
  background-image: linear-gradient(to right, #2D4059, #2D4080);

}
.cmainbutton.show {
  /* transform: translateY(0); */
  opacity: 1;
}
.logo-img {
  position: absolute;
  top: -19rem; /* 세로 중앙 정렬 */
  transform: translateX(25, -25%); /* 가로, 세로 중앙 정렬 */
  transition: top 1s ease; /* 애니메이션 지속 시간 및 가속도 설정 */
}
.logo-img.show {
  top: 100px; /* 세로 중앙으로 이동 */
}
.cbox {
  
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;


}



