.gridbuttonbox {
  display:grid;
  grid-template-columns: 1fr 1fr;
  width: 35vw;
}

.cmainbutton {
  width: 12.5vw;
  height: 12.5vw;
  background-color: transparent;
  border: 7px solid #2D4059;
  border: none;
  border-radius: 0.8vw;
  color: #F07B3F;
  font-size: 2vw;
  font-weight: bold;
  /* opacity: 90%; */
}
.roomimg {
  background-image: url('./room.svg');
  opacity: 80%;
  background-size: cover;
}
.cmainbutton:hover {
  background-image: linear-gradient(to right, #2D4059, #2D4080);

}

.cbox {
  
  display: flex;
  justify-content: center;
  align-items: center;
  height:'100%'


}