.customreceivediv {

  margin-top:1rem;
  width: 20rem;
  height: 60rem;

  background-color: white;
  opacity: 90%;
  border: 0.2rem solid white;
  margin-bottom: 1rem;
  border-radius: 1rem;
  background-repeat: no-repeat;
}

.cinput {
  width:14rem;
  height:2rem;
  border-radius: 0.2rem;
}
.customgridx {
  margin-top: 1rem;
  display: flex;
  flex-direction: row; /* 가로로 정렬 */
  align-items: center; /* 수직 가운데 정렬 (선택 사항) */
  justify-content: space-between;
  /* width: 35vw; */
}


.customreceivedivsuc {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:2rem;
  width: 45rem;
  height: 14rem;

  background-color: white;
  opacity: 90%;
  border: 2px solid white;
  margin-bottom: 5vh;
  border-radius: 2.6vw;
  background-repeat: no-repeat;
}

.customgrid {
  display:flex;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}

.middlemodal {
  display:flex;
  justify-content: center;
  
}


.middlemodalbox {
  display:flex;
  justify-content: center;
  margin-top:-5%;
}
.middlemodalreturn {
  display:flex;
  justify-content: center;
  margin-top:-7%;
  
}

.custommodaltitle {
  color: #2D4059;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  font-weight: bold;

}

.button {
  background-color: #2D4059;
  color: white;
  font-weight: bold;
  border-radius: 10rem;
}

.input {
  background-color: #ECF0F3;
  border-radius: 0.4rem;
  box-shadow: 0px 0.15rem 0px rgba(0, 0, 0, 0.5);
  border: none;
  font-size: 1rem;
  padding-left:0.4rem;

}
.address-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 1000;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 1.2rem;
  max-width: 70rem; /* 모달의 최대 너비를 설정하세요 */
}

.close-button {
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
  cursor: pointer;
}

.minititle {
  font-size: 1.1rem;
  font-weight: bold;
  /* margin-left: 5%; */
}

.minibutton {
  width:3.8rem;
  height:2.3rem;
  font-size: 0.5rem;
}

.bigbutton {
  width: 8rem;
  height: 3rem;
  font-size: 1.2rem;
  margin-top:5rem
}

.button:hover {
  background-image: linear-gradient(to right, #2D4059, #2D4080);
}

.bigbuttons {
  width: 8rem;
  height: 3rem;
  font-size: 1.2rem;
  margin-top:2rem
}
