/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; /* 'SUITE-Regular'를 폰트 패밀리 목록에 추가 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
<<<<<<< HEAD:frontend/mobile/whatisthis-mobile/src/index.css
} */
=======
}

@font-face {
  font-family: "SUITER";
  src: url("../public/assets/fonts/SUITE-woff2/SUITE-Regular.woff2");
}

@font-face {
  font-family: "SUITEB";
  src: url("../public/assets/fonts/SUITE-woff2/SUITE-Bold.woff2");
}

:root {
  font-family:'SUITEB';
}

.fontb {
  font-family: 'SUITEB';
  font-weight: 500;

}
>>>>>>> frontend/web/website/release:frontend/website/src/index.css
