.header {
  /* margin-top:1%; */
  height: 9.3vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: rgb(229, 246, 251); */
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #2D4059;
  border-bottom: 2px solid black;
}   
a {
  text-decoration: none; /* 밑줄 없애기 */
  color: inherit; /* 상위 엘리먼트에서 상속받은 글꼴 색상 사용 */
}
.item {

  margin-left: 0.5vw;
  font-size: 1.4vw;
  
  font-weight:bold;
}

.item:hover {
  /* color:#F07B3F;  */
  font-size:1.2rem;
}
.itemposition {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.activeLink {
  color: #F07B3F; /* 활성화된 링크의 글꼴 색상을 변경 */
  border-bottom: 3px solid #F07B3F;

}